/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {


    main,
    div,
    footer,
    nav,
    header {
        max-width: 64rem;
        margin: auto;
    }

    nav button {
        display: none;
    }

    nav ul li a {
        border: none;
        margin: 0px;
        padding: 10px;
    }

    nav ul.hide {
        display: block;
    }

    nav ul li {
        float: left;
        align-items: center;
    }

    .preston section,
    div {
        background-color: #C7EAF2;
        color: black;
    }

    div.galleryGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .caption {
        display: block;
        text-align: center;
    }

    form label.sbs {
        padding: .4rem 0;
    }

    /*----------------------------Index------------------------------*/

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cards section {
        display: flex;
        flex-direction: column;
    }
    .cards section:nth-child(even) {
        flex-direction: column;
        grid-row-start: 1;
        grid-row-end: 2;
    }    

    .cards section img {
        width: 100%;
        margin: auto;
    }

    .cards div {
        width: 100%;
    }
}

/* end of media query */