/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


    main {
        max-width: 64rem;
        margin: auto;
    }

    header img {
        width: auto;
    }

    div.forecastDiv {
        display: block;
    }

    section.forecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    section.forecastDiv div {
        text-align: center;
        padding: 0;
    }

    section.forecastDiv div h4 {
        background-color: #59B9FF;
        margin: 0;
        padding: 1rem 0;
    }

    .contact .img {
        display: block;
    }

    section div#gridForecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

}

/* end of media query */